body {
	background-color: white(227, 79, 84);
	/* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
	font-family: "Raleway Dots", cursive;
}

#time-display {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5%;
	padding: 50px;
	text-align: center;
	width: 400px;
	border: 0.5px solid rgba(55, 55, 55, 0.516);
	box-shadow: 2px 2px 2px 2px rgba(249, 15, 101, 0.804);
}

button {
	font-family: "Raleway Dots", cursive;
	font-weight: 900;
	width: 60px;
	height: 60px;
	border: 0.2px solid rgba(85, 85, 85, 0.519);
	border-radius: 100%;
	margin: 10px;
	color: rgb(0, 43, 69);
	background-color: white;
	box-shadow: 2px 3px rgba(201, 201, 201, 0.371);
}

button:hover {
	color: rgb(146, 137, 137);
	box-shadow: 2px 3px rgb(255, 255, 255);
}

#pomodoro:hover {
	color: rgba(249, 15, 101, 0.804);
	box-shadow: 2px 3px rgb(255, 255, 255);
}

#short-break:hover {
	color: rgba(88, 166, 255, 0.804);
	box-shadow: 2px 3px rgb(255, 255, 255);
}

#long-break:hover {
	color: rgba(189, 80, 222, 0.804);
	box-shadow: 2px 3px rgb(255, 255, 255);
}

.time-buttons {
	font-size: 11.5px;
	border: none;
	margin: 20px;
	padding: 10px;
	border-radius: 0%;
	border-bottom: 0.2px solid rgba(85, 85, 85, 0.519);
	box-shadow: none;
	width: auto;
	height: auto;
}

#gap {
	margin: 10px;
}
